@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-ThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
} */