@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Manrope', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 18px;
	}
}

/* .bebas-neue-regular {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.manrope {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
} */
